/* Video on "About" page */

.author-video {
  display: flex;
}

@media (height > 1368px) {
  .author-video {
    max-width: 947px;
  }
}

@media (height <= 1368px) {
  .author-video {
    max-width: 100%;
  }
}

/* Accordion styles */

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.active {
  display: flex;
}

/* Hide */

.hidden {
  display: none;
}

/* Slides wee */

.myslides {
  display: none;
  max-width: 100%;
  max-height: 100%;
}

@media (width > 1280px) {
  .myslides a img {
    max-width: 900px;
    max-height: 500px;
  }
}

@media (width <= 1280px) {
  .myslides a img {
    max-width: 100%;
    max-height: 100%;
  }
}
  
.slide-show, .slide-show a img, .slide-show div {
  display: table;
}

 /* Search form */

.search-btn {
  font-size: 22px;
}

.search-field {
  max-width: 200px;
}

 /* Site logo */

.site-logo {
  height: 150px;
}

 /* Sidebar */

#sidebar {
   display: none;
   z-index: 2;
   width: 40%;
   min-width: 300px;
}

 /* Sections */

.section {
    display: grid;
}

.section li {
    list-style-type: none;
}

 /* Size */

.size-16 {
  font-size: 16px;
}


/* Thumbnails */

@media (height > 600px) {
  .thumb {
    max-width: 100%;
    min-width: 100%;
    max-height: 200px;
    min-height: 200px;
  }
}

@media (height <= 600px) {
  .thumb {
    max-width: 100%;
    min-width: 100%;
    max-height: 400px;
    min-height: 200px;
  }
}

 /* Breadcrumbs */

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}

ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: #000080;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #000080;
  text-decoration: underline;
}

 /* Modal styles */

#login-modal {
  display: none;
  background-color: rgba(79, 79, 82, 0.493);
  overflow: auto;
  display: none;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 1;
  padding: 100px;
  justify-content: center;
}

.modal {
  color: #e1e1e1;
  border-radius: 10px;
  text-align: center;
  width: 500px;
}

/* W3.CSS extra */

.w3-left, .w3-right, .w3-badge {
  cursor: pointer
}

.w3-badge {
  height: 13px;
  width: 13px;
  padding: 0;
}
