body, h1, h2, h3, h4, h5 {
  font-family: "Raleway", sans-serif
}

body {
  background-image: url("https://hamburgerfrosting.github.io/AlltheWorldsaCinema/pexels-hyrlf-meng-317253942-18413963.jpg");
  background-size: cover;
}

header {
  color: light-grey;
}
